#btn1{
    display: block;
    margin: auto;
    
}


#body1{
    display: flex;
        justify-content: space-between;
}
.container{
    display: inline-block;
    align-items: center;
    margin: auto;
    margin-top: 16px;
    height: auto;
    width: 960px;

}

.grid{
    
    background-color: lightgray;
    border: solid black 1px;
    height: 50px;
    width: auto;
}
.grid:hover{
   background-color: black ;
}